PORT= port-in-which-server-will-run
NODE_ENV=development
DATABASE_URL=your-db-url
JWT_SECRET_KEY=your-secret-key
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
EXECUTOR_BASE_URL=the-base-url-for-your-executor-service
CORS_HOSTS='http://127.0.0.1:3000,http://localhost:3000'